In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.DataFrame(pd.read_csv('crazy_monkey.csv'))

In [4]:
df.head()

,dummy,order_id,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,...,gender,subclass,neck,sleeve,material,product_type,prod_name,created_at,city,state
0,27288,3550739,0,44879,1000,1,34584,19,382,Accessories,...,Unisex,Mobile Covers,-1,-1,Polycarbonate Hard Plastic,Mobile Covers,OnePlus One Mobile Covers,01-01-2016 00:07,Mumbai,Maharashtra
1,38337,3550743,0,1627343,1000,1,61354,3,622,Apparel,...,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Henley Fullsleeve T-Shirts,01-01-2016 00:11,Mumbai,Maharashtra
2,29144,3550745,0,1221355,1000,1,26898,4,456,Apparel,...,Men,Pyjamas,-1,-1,100% Cotton,Pyjamas,Men's Plain Pyjamas,01-01-2016 00:12,Ghaziabad,Uttar Pradesh
3,16576,3550747,3550745,1221355,1000,1,41284,2,200,Apparel,...,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Full Sleeve T-Shirts,01-01-2016 00:13,Ghaziabad,Uttar Pradesh
4,34189,3550749,3550745,1221355,1000,1,53238,2,570,Apparel,...,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Sports Trim Fullsleeve T-Shirt,01-01-2016 00:13,Ghaziabad,Uttar Pradesh

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41726 entries, 0 to 41725
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   dummy         41726 non-null  int64
 1   order_id      41726 non-null  int64
 2   parent_id     41726 non-null  int64
 3   user_id       41726 non-null  int64
 4   price         41726 non-null  int64
 5   quantity      41726 non-null  int64
 6   product_id    41726 non-null  int64
 7   size_id       41726 non-null  int64
 8   category_id   41726 non-null  int64
 9   cat_type      40174 non-null  object
 10  subtype       40174 non-null  object
 11  gender        40174 non-null  object
 12  subclass      40174 non-null  object
 13  neck          40174 non-null  object
 14  sleeve        40174 non-null  object
 15  material      40174 non-null  object
 16  product_type  40174 non-null  object
 17  prod_name     41726 non-null  object
 18  created_at    41726 non-null  object
 19  city          41726 non-null  object
 20  state         41701 non-null  object
dtypes: int64(9), object(12)
memory usage: 6.7+ MB

In [6]:
df.isnull().sum()

dummy              0
order_id           0
parent_id          0
user_id            0
price              0
quantity           0
product_id         0
size_id            0
category_id        0
cat_type        1552
subtype         1552
gender          1552
subclass        1552
neck            1552
sleeve          1552
material        1552
product_type    1552
prod_name          0
created_at         0
city               0
state             25
dtype: int64

In [7]:
cat_cols = ['cat_type', 'subtype', 'gender', 'subclass', 'neck', 'sleeve', 'material', 'product_type']
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [8]:
df = df.dropna(subset=['state'])

This will replace missing values in the categorical columns with their respective modes and drop the rows that have missing values in the 'state' column.

In [9]:
df.isnull().sum()

dummy           0
order_id        0
parent_id       0
user_id         0
price           0
quantity        0
product_id      0
size_id         0
category_id     0
cat_type        0
subtype         0
gender          0
subclass        0
neck            0
sleeve          0
material        0
product_type    0
prod_name       0
created_at      0
city            0
state           0
dtype: int64

categorical : cat_type, subtype, gender, subclass, neck, sleeve, material, product_type

In [10]:
# missing treatement value done

### 1.	The top 3 cities that the company should target. Suggest where the company may launch their first offline stores with the product that they may sell at their first offline store. Also, suggest the same for the online web store. Top cities on which they should focus the most and the type of apparel.
a.	Top categories and types
b.	Top products
c.	Top product type

In [11]:
# grouping the data by city and cal totoal sales for each city

city_sales = df.groupby('city')['price'].sum().reset_index()
city_sales.columns = ['city','total_sales']

In [12]:
city_sales.head() # this gave us city and total sales

           city  total_sales
0                       1000
1  24 pgs north         2000
2         ANGUL         2000
3         ARCOT         1000
4        Abohar         2000

In [13]:
# now lets finds top 3 cities with highest sales

In [14]:
top_cities = city_sales.nlargest(3,'total_sales')['city'].tolist()
print('top 3 cities with highest sales :',top_cities)

top 3 cities with highest sales : ['Mumbai', 'Bangalore', 'Pune']

In [15]:
# now lets calculate data by category and tyoe and calculate total sales for each combination

In [16]:
category_type_sales = df.groupby(['cat_type','subtype'])['price'].sum().reset_index()
category_type_sales.columns = ['category','type','total_sales']

In [17]:
category_type_sales.head() # will use to identify top categories and types.

      category           type  total_sales
0  Accessories     Gift Cards        15000
1  Accessories  Mobile Covers      6601000
2      Apparel     Bottomwear     10048000
3      Apparel        Topwear     25037000

In [18]:
# now lets identify

In [19]:
top_categor = category_type_sales.nlargest(3,'total_sales')['category'].tolist()
top_types = category_type_sales.nlargest(3,'total_sales')['type'].tolist()

print('top 3 categories : ',top_categor)
print('top 3 types : ',top_types)

top 3 categories :  ['Apparel', 'Apparel', 'Accessories']
top 3 types :  ['Topwear', 'Bottomwear', 'Mobile Covers']

In [20]:
# lets see the total sales for each product

In [21]:
p_sales = df.groupby('prod_name')['price'].sum().reset_index()
p_sales.columns = ['product','total_sales']

In [22]:
p_sales.head()

                         product  total_sales
0   Asus Zenfone 2 Mobile Covers       107000
1   Blackberry Z10 Mobile Covers        13000
2          HTC 820 Mobile Covers        74000
3     Honor 6 Plus Mobile Covers         2000
4   Lenovo K3 Note Mobile Covers       173000

In [23]:
# lets find top products now

In [24]:
top_pro_types = df.groupby('product_type')['quantity'].sum().reset_index()
top_pro_types  = top_pro_types.sort_values(by='quantity',ascending=False)

top_pro_types.head(3)

     product_type  quantity
10       T-Shirts     19934
5   Mobile Covers      6601
6         Pyjamas      4062

In [25]:
import datetime as dt

In [26]:
df.head()

,dummy,order_id,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,...,gender,subclass,neck,sleeve,material,product_type,prod_name,created_at,city,state
0,27288,3550739,0,44879,1000,1,34584,19,382,Accessories,...,Unisex,Mobile Covers,-1,-1,Polycarbonate Hard Plastic,Mobile Covers,OnePlus One Mobile Covers,01-01-2016 00:07,Mumbai,Maharashtra
1,38337,3550743,0,1627343,1000,1,61354,3,622,Apparel,...,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Henley Fullsleeve T-Shirts,01-01-2016 00:11,Mumbai,Maharashtra
2,29144,3550745,0,1221355,1000,1,26898,4,456,Apparel,...,Men,Pyjamas,-1,-1,100% Cotton,Pyjamas,Men's Plain Pyjamas,01-01-2016 00:12,Ghaziabad,Uttar Pradesh
3,16576,3550747,3550745,1221355,1000,1,41284,2,200,Apparel,...,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Full Sleeve T-Shirts,01-01-2016 00:13,Ghaziabad,Uttar Pradesh
4,34189,3550749,3550745,1221355,1000,1,53238,2,570,Apparel,...,Men,T-Shirts,Round Neck,Full,100% Cotton,T-Shirts,Men's Plain Sports Trim Fullsleeve T-Shirt,01-01-2016 00:13,Ghaziabad,Uttar Pradesh

## 2.	What insights can you offer about new and returning customers? 
a.	Analyze the old customers based on RFM(Recency, Frequency, and Monetary Value)
b.	Analyze the new customers.
c.	Find what the old and new customers are buying, at what time they are buying, and at what day of the month they are buying?

In [27]:
# converting create_at column to datetime format

df['created_at'] = pd.to_datetime(df['created_at'])

In [28]:
df.head(1)

,dummy,order_id,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,...,gender,subclass,neck,sleeve,material,product_type,prod_name,created_at,city,state
0,27288,3550739,0,44879,1000,1,34584,19,382,Accessories,...,Unisex,Mobile Covers,-1,-1,Polycarbonate Hard Plastic,Mobile Covers,OnePlus One Mobile Covers,2016-01-01 00:07:00,Mumbai,Maharashtra

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41701 entries, 0 to 41725
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   dummy         41701 non-null  int64
 1   order_id      41701 non-null  int64
 2   parent_id     41701 non-null  int64
 3   user_id       41701 non-null  int64
 4   price         41701 non-null  int64
 5   quantity      41701 non-null  int64
 6   product_id    41701 non-null  int64
 7   size_id       41701 non-null  int64
 8   category_id   41701 non-null  int64
 9   cat_type      41701 non-null  object
 10  subtype       41701 non-null  object
 11  gender        41701 non-null  object
 12  subclass      41701 non-null  object
 13  neck          41701 non-null  object
 14  sleeve        41701 non-null  object
 15  material      41701 non-null  object
 16  product_type  41701 non-null  object
 17  prod_name     41701 non-null  object
 18  created_at    41701 non-null  datetime64[ns]
 19  city          41701 non-null  object
 20  state         41701 non-null  object
dtypes: datetime64[ns](1), int64(9), object(11)
memory usage: 7.0+ MB

In [30]:
# date of the most recent purchase for each customer

recent_purchase_date = df.groupby('user_id')['order_id'].nunique()

recent_purchase_date.head()

user_id
18      1
26      6
229     1
1113    2
1209    1
Name: order_id, dtype: int64

In [31]:
# Calculate the total number of orders placed by each customer
num_orders = df.groupby('user_id')['order_id'].nunique()

num_orders.head()

user_id
18      1
26      6
229     1
1113    2
1209    1
Name: order_id, dtype: int64

In [32]:
# Calculate the total amount spent by each customer
total_spent = df.groupby('user_id')['price'].sum()
total_spent.head()

user_id
18      1000
26      6000
229     1000
1113    2000
1209    1000
Name: price, dtype: int64

In [33]:
today = pd.to_datetime('today')

In [34]:
# Calculate recency for each customer
recency = df.groupby('user_id')['created_at'].max().apply(lambda x: (today - x).days)

In [35]:
recency.head()

user_id
18      2630
26      2621
229     2641
1113    2624
1209    2623
Name: created_at, dtype: int64

In [36]:
frequency = df.groupby('user_id')['order_id'].nunique()

In [37]:
monetary_value = df.groupby('user_id')['price'].sum()

In [38]:
rfm = pd.DataFrame({'Recency': recency, 'Frequency': frequency, 'MonetaryValue': monetary_value})

print(rfm)

         Recency  Frequency  MonetaryValue
user_id
18          2630          1           1000
26          2621          6           6000
229         2641          1           1000
1113        2624          2           2000
1209        2623          1           1000
...          ...        ...            ...
1689329     2619          1           1000
1689331     2619          1           1000
1689333     2619          1           1000
1689335     2619          2           2000
1689349     2619          2           2000

[22071 rows x 3 columns]

In [39]:
# Calculate the quartiles for each metric
quantiles = rfm.quantile(q=[0.25,0.5,0.75])
quantiles = quantiles.to_dict()

In [40]:
quantiles

{'Recency': {0.25: 2627.0, 0.5: 2635.0, 0.75: 2642.0},
 'Frequency': {0.25: 1.0, 0.5: 1.0, 0.75: 2.0},
 'MonetaryValue': {0.25: 1000.0, 0.5: 1000.0, 0.75: 2000.0}}

In [41]:
# Define a function to assign a score to each metric based on its quartile
def rfm_score(x, metric, quantiles):
    if x <= quantiles[metric][0.25]:
        return 4
    elif x <= quantiles[metric][0.5]:
        return 3
    elif x <= quantiles[metric][0.75]: 
        return 2
    else:
        return 1

# Assign a score to each metric for each customer
rfm['R'] = rfm['Recency'].apply(rfm_score, args=('Recency',quantiles,))
rfm['F'] = rfm['Frequency'].apply(rfm_score, args=('Frequency',quantiles,))
rfm['M'] = rfm['MonetaryValue'].apply(rfm_score, args=('MonetaryValue',quantiles,))

# Calculate the RFM score for each customer
rfm['RFM'] = rfm['R']*100 + rfm['F']*10 + rfm['M']

# Print the RFM score for each customer
print(rfm)

         Recency  Frequency  MonetaryValue  R  F  M  RFM
user_id
18          2630          1           1000  3  4  4  344
26          2621          6           6000  4  1  1  411
229         2641          1           1000  2  4  4  244
1113        2624          2           2000  4  2  2  422
1209        2623          1           1000  4  4  4  444
...          ...        ...            ... .. .. ..  ...
1689329     2619          1           1000  4  4  4  444
1689331     2619          1           1000  4  4  4  444
1689333     2619          1           1000  4  4  4  444
1689335     2619          2           2000  4  2  2  422
1689349     2619          2           2000  4  2  2  422

[22071 rows x 7 columns]

In [42]:
# now analyze new and old customer

In [43]:
# Calculate the date of the first purchase for each customer
first_purchase_date = df.groupby('user_id')['created_at'].min()

# Calculate the time difference between the date of the first purchase and today's date for each customer
today = dt.datetime.now().date()
customer_tenure = (today - first_purchase_date.dt.date).dt.days

In [44]:

# Group the data by user_id
grouped = df.groupby('user_id')

# Calculate recency, frequency, and monetary value for each user
recency = dt.datetime(2023, 4, 1) - grouped['created_at'].max()
frequency = grouped.size()
monetary_value = grouped['price'].sum()

# Create a new DataFrame with RFM values
rfm = pd.DataFrame({
    'recency': recency,
    'frequency': frequency,
    'monetary_value': monetary_value
})

# Add a new column to indicate whether a customer is new or returning
rfm['customer_type'] = rfm['recency'].apply(lambda x: 'new' if x.days <= 30 else 'returning')

# Print the first 5 rows of the new DataFrame
print(rfm.head())

                   recency  frequency  monetary_value customer_type
user_id
18      2627 days 06:41:00          1            1000     returning
26      2618 days 12:41:00          6            6000     returning
229     2638 days 07:56:00          1            1000     returning
1113    2621 days 22:00:00          2            2000     returning
1209    2620 days 11:46:00          1            1000     returning

## 3.	What are some interesting insights that you can infer from the data?

### 1 The company should focus on the top 3 cities for sales:

Mumbai, Pune , and Bangalore.

### 2 The most popular product types are

In [45]:
popular_products = df.groupby('product_type')['quantity'].sum().reset_index().sort_values('quantity', ascending=False)
print(popular_products.head(5))

     product_type  quantity
10       T-Shirts     19934
5   Mobile Covers      6601
6         Pyjamas      4062
1          Boxers      2801
4         Joggers      2568

### 3 The most popular product  are

In [46]:
# total quantity sold.
product_sales = df.groupby('prod_name')['quantity'].sum()
top_products = product_sales.sort_values(ascending=False).head(10)
print(top_products)

prod_name
Men's Printed T-Shirts                        3440
Men's Printed Full Sleeve T-Shirt             3321
Women's Printed 3/4 Sleeve T-Shirts           2184
Women's Plain 3/4 Sleeve T-Shirts             1905
Men's Printed Pyjamas                         1612
Men's Printed Vests                           1612
Women's Printed Pyjamas                       1469
Women's Printed T-Shirts                      1453
Men's Plain Sports Trim Fullsleeve T-Shirt    1416
Men's Plain Jogger Pants                      1335
Name: quantity, dtype: int64

## 4.	Is it fine to launch offers on weekdays or weekends?

In [47]:
# Convert the created_at column to a datetime object
df['created_at'] = pd.to_datetime(df['created_at'])

# Extract the day of the week (0 = Monday, 6 = Sunday)
df['day_of_week'] = df['created_at'].dt.dayofweek

# Calculate the total sales for each day of the week
sales_by_day = df.groupby('day_of_week')['price'].sum()

# Print the total sales for each day of the week
print(sales_by_day)

day_of_week
0    5337000
1    5727000
2    5485000
3    5475000
4    6555000
5    7254000
6    5868000
Name: price, dtype: int64

It is fine to launch offers on both weekdays and weekends, as there is no significant difference in sales between the two.

### 5.	Which day of the month gets them the best sales?

In [48]:
df['day'] = df['created_at'].dt.day

# Group the data by day and calculate the total sales for each day
sales_by_day = df.groupby('day')['price'].sum()

# Print the sales by day
print(sales_by_day)

sales_by_day_sorted = sales_by_day.sort_values()
print(sales_by_day_sorted.head())

day
1     1048000
2     1484000
3     1584000
4     1403000
5     1715000
6     1567000
7     1544000
8     1702000
9     1707000
10    1648000
11    1461000
12    1316000
13    1470000
14    1366000
15    1302000
16    1414000
17    1300000
18    1271000
19    1304000
20    1285000
21    1359000
22    1290000
23    1287000
24    1336000
25    1202000
26    1392000
27    1163000
28    1206000
29    1213000
30    1362000
Name: price, dtype: int64
day
1     1048000
27    1163000
25    1202000
28    1206000
29    1213000
Name: price, dtype: int64

The best day of the month for sales is the 1,27,28,29th.

## 6.	At what time of the day their website gets the maximum impressions? (Number of orders)

In [49]:
# Group the data by the hour of the day
sales_by_hour = df.groupby(df['created_at'].dt.hour).size()

# Sort the data by the number of orders in descending order
sales_by_hour = sales_by_hour.sort_values(ascending=False)

# Print the result
print(sales_by_hour)

sales_by_hour_sorted = sales_by_hour.sort_values()
print(sales_by_hour_sorted.head())

created_at
22    3213
23    3014
21    2817
14    2603
20    2503
12    2457
19    2423
11    2332
17    2327
15    2310
18    2287
13    2251
16    2206
0     2106
10    1728
1     1379
9     1075
2      711
8      677
3      460
7      323
4      204
6      162
5      133
dtype: int64
created_at
5    133
6    162
4    204
7    323
3    460
dtype: int64

In [82]:
df['hour'] = df['created_at'].dt.hour

# Group the data by hour and count the number of orders
impressions_by_hour = df.groupby('hour')['order_id'].count()

# Find the hour with the highest number of orders
peak_impressions_time = impressions_by_hour.idxmax()

# Print the peak impressions time
print("The peak impressions time is:", peak_impressions_time, "o'clock")

The peak impressions time is: 22 o'clock

## 7.	Are men placing more orders than women?

In [50]:
orders_by_gender = df.groupby('gender')['order_id'].nunique()
print(orders_by_gender)

gender
Men       25608
Unisex     6616
Women      9477
Name: order_id, dtype: int64

 yes men are placing more order than women :)

In [83]:
orders_by_gender_percentage = orders_by_gender / df['order_id'].nunique() * 100
print(orders_by_gender_percentage)

gender
Men       61.408599
Unisex    15.865327
Women     22.726074
Name: order_id, dtype: float64

## 8.	Is it a good idea for the company to open an offline store at this early stage of its startup journey?

 yes company can open the stores in these top cities

In [51]:
num_missing_gender = df[df['gender'].isnull()]['order_id'].nunique()
print("Number of orders with missing gender: ", num_missing_gender)

Number of orders with missing gender:  0

In [52]:
num_missing_gender = df['gender'].isnull().sum()

print("Number of orders where gender is missing:", num_missing_gender)

Number of orders where gender is missing: 0

In [53]:
# Group the data by city and count the number of unique customers in each city
city_counts = df.groupby('city')['user_id'].nunique()

# Sort the cities based on the number of customers in descending order
sorted_cities = city_counts.sort_values(ascending=False)

# Get the top 3 cities
top_cities = sorted_cities.head(3)

# Print the top 3 cities and the number of customers in each city
print(top_cities)

city
Mumbai       2654
Bangalore    2064
Pune         1448
Name: user_id, dtype: int64

In [54]:
# Group the data by product_id and sum the quantity sold for each product
product_sales = df.groupby('product_id')['quantity'].sum()

# Sort the result in descending order
product_sales = product_sales.sort_values(ascending=False)

# Print the first row to get the product with the most sales
print(f"The product with the most sales is {product_sales.index[0]} with a total of {product_sales.iloc[0]} units sold.")

The product with the most sales is 53238 with a total of 697 units sold.

In [55]:
# Group the data by user_id and calculate the sum of the quantity column for each user
grouped = df.groupby('user_id').agg({'quantity': 'sum'})

# Sort the resulting DataFrame in descending order by the quantity column
grouped = grouped.sort_values(by='quantity', ascending=False)

# Select the top row
customer_id = grouped.index[0]

print(f"The customer with user_id {customer_id} has ordered the highest quantity of {grouped.loc[customer_id, 'quantity']} in the available data.")

The customer with user_id 1654301 has ordered the highest quantity of 110 in the available data.

In [67]:
import pandas as pd
import numpy as np

# convert the 'created_at' column to datetime format
df['created_at'] = pd.to_datetime(df['created_at'])

# calculate the most recent purchase date for each customer
recent_purchase = df.groupby('user_id')['created_at'].max()

# calculate the recency (in months) of each customer's most recent purchase
recency = (pd.to_datetime('now') - recent_purchase) / np.timedelta64(1, 'M')

# round the recency values to two decimal places
recency = round(recency, 2)

# create a new dataframe with the recency values for each customer
recency_df = pd.DataFrame({'user_id': recency.index, 'recency_month': recency.values})

# merge the recency dataframe with the original dataframe to add the recency values as a new column
df = pd.merge(df, recency_df, on='user_id', how='left')

recency_df.head()

   user_id  recency_month
0       18          86.41
1       26          86.12
2      229          86.77
3     1113          86.23
4     1209          86.19

In [63]:
df.head(1)

,dummy,order_id,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,...,neck,sleeve,material,product_type,prod_name,created_at,city,state,day_of_week,day
0,27288,3550739,0,44879,1000,1,34584,19,382,Accessories,...,-1,-1,Polycarbonate Hard Plastic,Mobile Covers,OnePlus One Mobile Covers,2016-01-01 00:07:00,Mumbai,Maharashtra,4,1

In [76]:
# Calculate the date of the first purchase for each customer
first_purchase_date = df.groupby('user_id')['created_at'].min()

# Calculate the time difference between the date of the first purchase and today's date for each customer
today = dt.datetime.now().date()
customer_tenure = (today - first_purchase_date.dt.date).dt.days

# Group the data by user_id
grouped = df.groupby('user_id')

# Calculate recency, frequency, and monetary value for each user in months
recency = ((dt.datetime(2023, 4, 1) - grouped['created_at'].max()) / np.timedelta64(1, 'M')).astype(int)
frequency = grouped.size()
monetary_value = grouped['price'].sum()

# Create a new DataFrame with RFM values
rfm = pd.DataFrame({
    'recency': recency,
    'frequency': frequency,
    'monetary_value': monetary_value
})

# Add a new column to indicate whether a customer is new or returning
rfm['customer_type'] = rfm['recency'].apply(lambda x: 'new' if x <= 1 else 'returning')

# Print the first 5 rows of the new DataFrame
print(rfm.head())

         recency  frequency  monetary_value customer_type
user_id
18            86          1            1000     returning
26            86          6            6000     returning
229           86          1            1000     returning
1113          86          2            2000     returning
1209          86          1            1000     returning

In [77]:
# Extract the day of the month from the created_at column
df['day'] = df['created_at'].dt.day

# Group the data by day and calculate the total revenue for each day
daily_revenue = df.groupby('day')['price'].sum()

# Find the day with the highest total revenue
best_day = daily_revenue.idxmax()

# Print the best day of the month
print('The best sales day of the month is:', best_day)

The best sales day of the month is: 5

In [80]:
# Extract the hour from the 'created_at' column
df['hour'] = df['created_at'].dt.hour

# Group the data by hour and count the number of orders
impressions_by_hour = df.groupby('hour')['order_id'].count()

# Find the hour with the highest number of orders
peak_impressions_hour = impressions_by_hour.idxmax()

# Print the peak impressions hour
print(f'The peak impressions hour is {peak_impressions_hour}:00')

The peak impressions hour is 22:00

that is 10pm